# Токен вашого Telegram бота від @BotFather
TELEGRAM_BOT_TOKEN=

# Telegram канал або група, куди публікувати пости (бот повинен бути адміном каналу)
TELEGRAM_CHANNEL=@GG_WPasdfasdf

# Посилання на сторінки Facebook
FB_URL_1=https://www.facebook.com/profile.php?id=100083009785339
FB_URL_2=https://www.facebook.com/profile.php?id=100064698822458&mibextid=wwXIfr&rdid=xHHUmax6jQYQe5aR&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F1E3KdPGxX4%2F%3Fmibextid%3DwwXIfr

# Інтервал перевірки у годинах (за замовчуванням 1 година)
CHECK_INTERVAL_HOURS=1

# Чи публікувати існуючі пости при найпершому запуску (True - публікувати, False - тільки нові після запуску)
SEND_INITIAL_POSTS=True

# Браузерний фінгерпринт (chrome124, chrome120, safari17_0)
IMPERSONATE_BROWSER=chrome124
